{% extends "header.html" %}
{% block body %}

<link href="{{ url_for('static', filename='css/config.css') }}" rel="stylesheet">

<div class="container">
	<div class="row">
		<div class="Absolute-Center is-Responsive">
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<form action="" class="form-inline" method="post">
					<div class="form-group input-group">
			            <span class="input-group-addon">
			            	<i class="glyphicon glyphicon-user"></i>
			            </span>
							<input type="text" class="form-control" placeholder="Monthly Budget" name="budget" value="{{request.form.budget}}">
					</div>

					<div class="form-group">
			            <button type="submit" class="btn btn-def btn-block">Add budget</button>
			        </div>
			 	<br>
		   		<br>
		   
		   			<div class="form-group input-group">
		            	<span class="input-group-addon">
		            		<i class="glyphicon glyphicon-lock"></i>
		            	</span>
							<input type="text" class="form-control" placeholder="Category" name="category" value="{{request.form.category}}">
					</div>
			
					<div class="form-group">
		            	<button type="submit" class="btn btn-def btn-block">Add Category</button>
		          	</div>
				<br>
		    	<br>
		    	</form>
	
	{% if error %}
		<p class="error"><strong>Error:</strong>{{error}}</p>
	{% endif %}

			</div>
		</div>
	</div>
</div>

{% endblock %}