{% extends "header.html" %}

{% block body %}
<script src="http://code.jquery.com/jquery.min.js"></script>
<link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<script src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
<script src="http://1000hz.github.io/bootstrap-validator/dist/validator.min.js"></script>

<link href="{{ url_for('static', filename='css/register.css') }}" rel="stylesheet">
	<div class="container">
	<br>
	<div class="container">
	<div class="row">
		<div class="Absolute-Center is-Responsive">
			<div class="col-sm-12 col-md-10 col-md-offset-1">
	<form id="identicalForm" method="post" data-toggle="validator" role="form" action="/register/">

		<div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			<input type="text" class="form-control" placeholder="Username" name="username" value="{{request.form.username}}" required=""></div>

		<div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>

			<input type="email" pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$" class="form-control" placeholder="youremail@mail.com" name="email" value="{{request.form.email}}" required></div>
			<div>
			<div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>

			<input type="password" data-minlength="6" id="password" class="form-control" placeholder="Password" name="password" value="{{request.form.password}}" required></div>
			<div class="help-block">Minimum of 6 characters</div>

			<div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>

			<input type="password" class="form-control" id="confirmpassword" data-match="#password" name="confirmPassword" placeholder="Confirm Password" required>
			</div>			
			</div>
		
		<div class="form-group">
            <button type="submit" class="btn btn-def btn-block">Register</button>
    </div>
	</form>
	</div>
	</div>
	</div>
	</div>
	{% if error %}
		<p class="error"><strong>Error:</strong>{{error}}</p>
	{% endif %}
	</div>

{% endblock %}